
<div class="icd10List popup large">
	<div class="loading" *ngIf="loading">
		<div class="loadingIndicator">
			<div class="one"></div>
			<div class="two"></div>
			<div class="three"></div>
		</div>
	</div>
	<div class="popupContents" *ngIf="!loading">
		<div class="titlebar">
			<span>ICD10 Codes</span>
			<div class="btn red" (click)="close()">Close</div>
		</div>
		<main>
			<ul>
				<li *ngFor="let icd10 of icd10codes">
					<span class="code">{{icd10.ICD_10CMCode}}</span>
					<span class="description">{{icd10.ICD_10CMFullDescription}}</span>
					<div class="btn" (click)="addIcd10(icd10)" [ngClass]="{disabled: icd10.isIncluded}">Add</div>
				</li>
			</ul>
			<h2 *ngIf="!loading && icd10codes.length == 0">There are no ICD10 codes associated with this CPT Code</h2>
		</main>
	</div>
</div>