<div class="container">
	<div class="patientInfo">
		<h2>Patient Information</h2>
		<dl>
			<dt><label for="patientName">Patient Name</label></dt>
			<dd><input type="text" [(ngModel)]="entry.Name" class="form-control" /></dd>
			<dt><label for="dob">Date of Birth</label></dt>
			<dd><input type="date" [(ngModel)]="entry.Dob"class="form-control" /></dd>
			<dt><label for="procedureDate">Date of Procedure</label></dt>
			<dd><input type="date" [(ngModel)]="entry.ProcedureDate" class="form-control" /></dd>
			<dt><label for="ehr">EHR #</label></dt>
			<dd><input type="text" [(ngModel)]="entry.Ehr" class="form-control" /></dd>
		</dl>
	</div>
	<div class="cptSection">
		<h2>CPT Codes</h2>
		<ul id="cptCodeList">
			<li *ngFor="let cpt of entry.CptCodes">
				<div class="cptInfo">
					<div>{{cpt.CPTCode}}</div>
					<div>{{cpt.FullDescriptor}}</div>
					<div><button class="addIcd10" (click)="getIcd10s()">ICD-10 Codes</button></div>
				</div>
				<ul *ngIf="cpt.ICD10Codes.length > 0">
					<li *ngFor="let icd10 of cpt.ICD10Codes">
						<div class="icd10code">{{icd10.ICD10CMCode}}</div>
						<div class="icd10desc">{{icd10.ICD10CMFullDescription}}</div>
						<div><button (click)="removeIcd10(cpt, icd10.ICD10CMCode)">Remove</button></div>
					</li>
				</ul>
			</li>
		</ul>
		<div>
			<input type="text" class="form-control" [(ngModel)]="newCode">
			<button (click)="add()">Add New</button>
		</div>
	</div>
