<div class="container">
	<div class="patientInfo">
		<h2>Patient Information</h2>
		<dl>
			<dt><label for="patientName">Patient Name</label></dt>
			<dd><input type="text" [(ngModel)]="entry.Name" class="form-control" /></dd>
			<dt><label for="dob">Date of Birth</label></dt>
			<dd><input type="date" [(ngModel)]="entry.Dob"class="form-control" /></dd>
			<dt><label for="procedureDate">Date of Procedure</label></dt>
			<dd><input type="date" [(ngModel)]="entry.ProcedureDate" class="form-control" /></dd>
			<dt><label for="ehr">EHR #</label></dt>
			<dd><input type="text" [(ngModel)]="entry.Ehr" class="form-control" /></dd>
		</dl>
	</div>
	<div class="cptSection">
		<h2>CPT Codes</h2>
		<ul id="cptCodeList">
			<li *ngFor="let cpt of entry.CptCodes" class="cptItem">
				<header>
					<div class="code">{{cpt.CPTCode}}</div>
					<div class="btn red" (click)="removeCpt(cpt.CPTCode)">Remove</div>
				</header>
				<div class="cptInfo">
					<div class="description">{{cpt.FullDescriptor}} [ {{cpt.AllIcd10Codes.length}} ]</div>
				</div>
				<div class="icd10Container" *ngIf="cpt.ICD10Codes.length > 0">
					<h3>ICD10 Codes</h3>
					<ul class="icd10s">
						<li *ngFor="let icd10 of cpt.ICD10Codes">
							<div class="icd10code">{{icd10.ICD_10CMCode}}</div>
							<div class="icd10desc">{{icd10.ICD_10CMFullDescription}}</div>
							<div class="btn red" (click)="removeIcd10(cpt, icd10.ICD_10CMCode)">Remove</div>
						</li>
					</ul>
				</div>
				<div class="cptActions">
					<div class="btn addIcd10" (click)="getIcd10s(cpt)">Add New ICD10</div>
				</div>
			</li>
		</ul>
		<div>
			<input type="text" class="form-control" [(ngModel)]="newCode" (keyup)="checkEnter($event)">
			<button (click)="add()">Add New</button>
		</div>
	</div>

	<icd10codes [icd10codes]="activeCpt.AllIcd10Codes" *ngIf="showIcd10List" (onAddIcd10)="addIcd10($event)" (onClose)="closeModal($event)"></icd10codes>
