

.container {
	display:flex;

	& > div {
		padding:0 auto;
		width:400px;
	}

	ul {
		li { 
			margin-bottom:15px;
		}
	}

	.patientInfo {
		dl {
			dt {
				margin-bottom: 6px;
			}
			dd {
				margin-bottom: 12px;
				input {
					padding:4px;
					width:350px;
				}
			}
		}
	}
	.cptSection {
		input {
			padding: 4px;
		}
		.cptInfo {
			display:flex;
		}
	}

}
