@import './variables.less';

.container {
	display:flex;
	height:100%;

	.patientInfo {
		width:400px;
		padding:18px;
		background:@lightgrey;
		
		dl {
			dt {
				margin-bottom: 6px;
			}
			dd {
				margin-bottom: 12px;
				input {
					padding:4px;
					width:350px;
				}
			}
		}
	}
	.cptSection {
		margin:0 20px;

		.actions {
			display: flex;
			padding-bottom: 38px;
			.actionBtn {
				width:60px;
				height:60px;
				background: @blue;
				line-height: 60px;
				text-align: center;
				font-size:30px;
				color:@dark;
				border-radius: 4px;
				margin:10px;
				box-shadow: @disabledBtn 3px 3px 3px;
				text-shadow: @disabledBtn 1px 1px;

				&.active {
					box-shadow: inset #999 3px 3px 1px;
				}
				span {
					display: none;
				}

			}
			.byCode {
				.actionBtn {
					&:before {
						font-family: 'FontAwesome';
						content: '\f121';
					}
				}
			}
			.bySearch {
				.actionBtn {
					&:before {
						font-family: 'FontAwesome';
						content: '\f002';
					}
				}
			}
			.bySequence {
				.actionBtn {
					&:before {
						font-family: 'FontAwesome';
						content: '\f022';
					}
				}
			}

			.form {
				position: absolute;
				max-height: 0px;
				overflow: hidden;
				transition: all 250ms ease-in-out;
			}
			.action.active {
				.form {
					max-height: 40px;
				}
			}
			.searchResults {
				position: absolute;
				z-index: 2;
				background:#ffffff;
				border:solid 1px #000;
				min-width: 50%;
				margin-top:37px;

				li {
					display: flex;

					div {
						padding:8px;
						cursor: pointer;
					}
					div:nth-child(1) {
						width:10%;
						flex-shrink: 0;
					}
					&:nth-child(odd) {
						background:@lightgrey;
					}
				}
			}
		}
		.cptItem {
			border:solid 2px @blue;
			margin:8px 0;
	
			header {
				background-color:@blue;
				display:flex;
				justify-content: space-between;
				padding:6px 20px;
				.code {
					font-weight: bold;
					color: #fff;
					align-self: center;
				}
			}
			.cptInfo {
				padding:14px;
				
				.description {
					font-weight: bold;
					font-size:22px;
				}
			}
			.icd10Container {
				padding:0 14px;
				h3 {
					font-style: italic;
					padding-bottom:8px;
				}
				ul.icd10s {
					border:solid 1px @lightgrey;
					width:80%;
					li {
						display: flex;
						align-items: center;
						width:100%;
						padding:12px 6px;
						
						.icd10code {
							width:100px;
							flex-shrink: 0;
						}
						.icd10desc {
							flex-grow:1;
							padding:0 6px;
						}
						&:nth-child(odd) {
							background-color: @lightgrey;
						}
					}
				}
			}
			.cptActions {
				padding:14px;
				text-align: right;

				.btn {
					&.disabled {
						background:@disabledBtn;
						cursor: default;
					}
				}
			}
		}
		
		input {
			padding: 4px;
		}


	}

}

@media (max-width:1025px) {
	.container {
		flex-direction: column;

		.patientInfo {
			margin:0 20px;
			width:100%;
		}
	}
}
