.icd10List {
	li {
		display: flex;
		width:100%;
		padding: 8px;

		&:nth-child(2n) {
			background-color:#f0f0f0;
		}
		span {
			&.code {
				width:100px;
				flex-shrink: 0;

				input {
					padding:5px;
					width: ~"calc(100% - 20px);"
				}
			}
			&.description {
				flex-grow: 1;
				input {
					padding:5px;
					width: ~"calc(100% - 20px);"
				}
			}
		}
	}
}